<!DOCTYPE html>
<html ng-app="code-story-geektic">
<head>
    <title>[[title]]</title>
    <link rel='icon' type='image/png' href='static/[[version]]/img/favicon.png'/>
    <link rel="apple-touch-icon" href="static/[[version]]/img/favicon.png"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link type='text/css' rel='stylesheet' href='static/[[version]]/css/bootstrap.min.css'>
    <link type='text/css' rel='stylesheet' href='static/[[version]]/style.less'>
</head>

[[body]]

<script src="static/[[version]]/js/angular.min.js"></script>
<script src="http://axe.mappy.com/1v1/init/get.aspx?auth=9ZekB5JRgRBFpoYg9Tr91uP+ORxOY4xTs1umVXdV8Akp2R5OubCUZJwkOaRQWtMIgK7D+Z7mCBc=&version=2.16&solution=ajax"></script>
<script src="static/[[version]]/app.coffee"></script>
<script src="static/[[version]]/[[script]]"></script>
</html>