@white: #FFFFFF;
@black: #000000;
@gray: #EEEEEE;
@yellow: rgb(242, 217, 153);
@green: rgb(142, 217, 153);
@blue: rgb(0, 163, 219);
@star_size: 64px;

[ng-cloak] {
  display: none !important;
}

@font-face {
  font-family: 'Wendy One';
  font-style: normal;
  font-weight: 400;
  src: local('Wendy One'), local('WendyOne-Regular'), url(http://themes.googleusercontent.com/static/fonts/wendyone/v1/oRf9i5HKN7RZoSnys4E2urO3LdcAZYWl9Si6vvxL-qU.woff) format('woff');
}

body {
  background-color: @white;
  font-family: 'Wendy One', sans-serif;

  .title, h4 {
    text-align: center;
  }

  h4 {
    padding: 5px;
  }

  .form-search {
    text-align: center;
    input {
      width: 200px;
    }
  }

  #geek1 {
    background-color: @green;
  }

  #geek2 {
    background: url('/static/[[version]]/img/geek2.jpg') no-repeat;
    -webkit-transition: -webkit-transform 1s;
    -webkit-transform: rotateY(0deg);
  }

  #geek2:hover {
    -webkit-transform: rotateY(180deg);
  }

  #geek3 {
    background: url('/static/[[version]]/img/geek3.jpg') no-repeat;
  }

  #geek4 {
    background: url('/static/[[version]]/img/geek6.jpg') no-repeat;
  }

  #geek5 {
    background: url('/static/[[version]]/img/geek9.jpg') no-repeat;
  }

  #geek6 {
    background: url('/static/[[version]]/img/geek5.jpg') no-repeat;
  }

  #geek7 {
    background: url('/static/[[version]]/img/geek1.jpg') no-repeat;
  }

  #geek8 {
    background: url('/static/[[version]]/img/geek8.jpg') no-repeat;
  }

  #geek9 {
    background: url('/static/[[version]]/img/geek7.jpg') no-repeat;
  }

  #geek1, #geek2, #geek3, #geek4, #geek5, #geek6, #geek7, #geek8, #geek9 {
    height: 250px;
    margin: 2px; //border: solid grey 1px;
    .background-size(cover);
  }

  img.result {
    width: 100%;
    height: 100%;
  }

  .full-caption, .caption {
    background-color: rgba(0, 0, 0, 0.8);
    color: @white;
    text-align: left;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;

    .inner {
      margin: 0;
      padding: 10px;

      h3 {
        margin: 0;
        padding: 0;
      }
    }
  }

  .caption {
    position: relative;
    bottom: 60px;
    height: 60px;
    overflow: hidden;

    p {
      padding: 5px;
      margin: 0;
    }
    p.name {
      font-weight: bold;
    }
    p.like {
      font-weight: lighter;
    }
  }
}

.back(@url, @width, @height) {
  width: @width;
  height: @height;
  background-image: url(@url);
  background-size: @width @height;
}

.background-size(@type) {
  -webkit-background-size: @type;
  -moz-background-size: @type;
  -o-background-size: @type;
  background-size: @type;
}

.round(@size) {
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
}

.transition(@arg1) {
  -webkit-transition: @arg1;
  -moz-transition: @arg1;
  -o-transition: @arg1;
  transition: @arg1;
}
